.Card {
  position: relative;
}

.Card img {
  display: block;
}

.FrontCard {
  height: 180px;
}

.BackCard {
  height: 180px;
  width: 130px;
  border-radius: 10px;
}

.Card .FrontCard {
  position: absolute;
  transform: rotateY(90deg);
} 

.flip .FrontCard {
  transform: rotateY(0deg);
} 


