.card {
  position: relative;
}

/* .card img {
  width: 100%;
  display: block;
} */

.FrontCard, .BackCard {
  height: 180px;
  margin: 5px;
}

.BackCard {
  border-radius: 6px;
}

.card, .BackCard {
  transform: rotateY(90deg);
  position: absolute;
}

.flip, .BackCard {
  transform: rotateY(0deg);
}


