.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 0;
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: 'Monda', sans-serif;
}


